body {
    margin: 0 auto;
    max-width: 800px;
    padding: 0 20px;
  }
  
  .container {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
  }
  
  .darker {
    border-color: #ccc;
    background-color: #ddd;
  }
  
  .container::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .container img {
    float: left;
    max-width: 60px;
    width: 100%;
    margin-right: 20px;
    border-radius: 50%;
  }
  
  .container img.right {
    float: right;
    margin-left: 20px;
    margin-right:0;
  }
  
  .time-right {
    float: right;
    color: #aaa;
  }
  
  .time-left {
    float: left;
    color: #999;
  }

/********** Copy and Rewrite ****************/
.menubtn {
  background-color: #181D38;
  color: #697292;
  width: 3rem;
  height: 3rem;
  border-radius: 3rem;
  border-style: none;
  cursor: pointer;
  font-size: 0.7rem;
  font-weight: 900;
  text-transform: uppercase;
  font-family: sans-serif;
  box-shadow: 0 307px 290px 0 #070A1E;
}

.menubtn:hover {
  background-color: rgba(24, 29, 56,0.8);
  color: rgba(105, 114, 146,0.8);
  border: 3px solid #697292;
}